.login-container {
  @extend .container;
  main {
    .content {
      .error {
        color: $red;
        display: none;
        &.visible {
          display: block;
        }
      }
    } // .content
    .errors {
      color: $red;
      padding-top: 10px;
    }
    .input-error {
      border: 1px solid $red;
    }
  } // main
} // .container
