.messages {
  background-color: $white;
  color: $black;
  .messages-list {
    list-style-type: none;
    .messages-list__item {
      .message-header {
        div {
          display: inline-block;
        }
        .message-user {
          font-weight: bold;
          margin-right: 15px;
        }
      }
    }
  }
}
