.messages {
  background-color: $white;
  color: $black;
  display: flex;
  flex-direction: column-reverse;
  height: 800px;
  overflow-y: scroll;
  .messages-list {
    list-style-type: none;
    .messages-list__item {
      .message-header {
        div {
          display: inline-block;
        }
        .message-user {
          font-weight: bold;
          margin-right: 15px;
        }
        .message-date {
          font-size: 0.875em;
          color: #616061;
        }
      }
    }
  }
}
