.header {
  height: 10%;
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .channel-name,
  .channel-users {
    display: inline-block;
  }
  .channel-name {
    margin-right: 10px;
  }
  .settings-icon {
    cursor: pointer;
  }
}
