.users {
  margin-bottom: 20px;
  .users-list {
    list-style-type: none;
    margin: 0;
    padding:0;
    .user-list__item {
      &.selected {
        background-color: $toryBlue;
        &:hover {
          background-color: $toryBlue;
        }
      }
      &:hover {
        background-color: darken($valentino, 5%);
      }
      .users-item {
        @extend .btn;
        @extend .btn-link;
        color: $shadyLady;
        font-size: 1em;
        text-decoration: none;
        &:focus,
        &:hover,
        &:active,
        &:visited {
          color: $shadyLady;
          text-decoration: none;
        }
        .user-status {
          color: $jungleGreen;
          padding-right: 5px;
        }
      }
    }
  }
}
