*,
*:before,
*:after {
  box-sizing: border-box;
}

.dashboard-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 100px 250px 1fr;

  .team-sidebar {
    background-color: $thunder;
    grid-column: 1;
  }
  .main-sidebar {
    background-color: $valentino;
    grid-column: 2;
  }
  .main-content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    header {
      grid-column: 3;
      grid-row: 1;
    }
    main {
      grid-column: 3;
      grid-row: 2;
    }
    footer {
      grid-column: 3;
      grid-row: 3;
    }
  }
}
