.dashboard-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 100px 250px 1fr;
  grid-template-rows: auto 1fr auto;
  .team-sidebar {
    background-color: $thunder;
    grid-column: 1;
  }
  .main-sidebar {
    background-color: $valentino;
    grid-column: 2;
  }
  .main-content {
    grid-column: 3;
    height: 100vh;
    header {
      .header-container {
        height: 55px;
      }
    }
    main {
      height: 90%;
      .messages-container {
        border-bottom: 1px solid $black;
        border-top: 1px solid $black;
        height: 95%;
        overflow-y: scroll;
      }
    }
    footer {
      .input-container {
        height: 1%;
      }
    }
  }
}
