.direct-messages__container {
  position: relative;
  z-index: 0;
  .user-dropdown {
    list-style-type: none;
    left: 140px;
    position: absolute;
    top: 39px;
    width: 340px;
    z-index: 1;
    li {
      cursor: pointer;
    }
  }
}

