.main-sidebar-container {
  padding-top: 15px;
  header {
    .main-sidebar__title {
      color: $white;
      text-align: center;
    }
    .main-sidebar__user {
      margin: 0 auto;
      text-align: center;
      .user-status {
        color: $jungleGreen;
        margin-right: 5px;
      }
      .main-sidebar__username {
        color: $white;
        display: inline-block !important;
        text-align: center;
      }
    }
  }
  section {
    color: $shadyLady;
    .sidebar-heading {
      display: block;
      width: 100%;
      h5 {
        float: left;
        padding-left: 10px;
      }
      .sidebar-heading__action {
        @extend .btn;
        @extend .btn-link;
        color: $shadyLady;
        float: right;
        text-decoration: none;
        &:hover,
        &:active,
        &:focus {
          color: $white;
          text-decoration: none;
        }
      }
      @include clearfix();
    }
    .channels {
      margin-bottom: 20px;
      .channels-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      .channels-list {
        .channels-list__item {
          &.selected {
            background-color: $toryBlue;
            &:hover {
              background-color: $toryBlue;
            }
          }
          &:hover {
            background-color: darken($valentino, 5%);
          }
          .channel-item{
            @extend .btn;
            @extend .btn-link;
            color: $shadyLady;
            font-size: 1em;
            text-decoration: none;
            &:focus,
            &:hover,
            &:active,
            &:visited {
              color: $shadyLady;
              text-decoration: none;
            }
          }
        }
      }
    }
    .users {
      margin-bottom: 20px;
      .users-list {
        list-style-type: none;
        margin: 0;
        padding:0;
        .user-list__item {
          &.selected {
            background-color: $toryBlue;
            &:hover {
              background-color: $toryBlue;
            }
          }
          &:hover {
            background-color: darken($valentino, 5%);
          }
          .users-item {
            @extend .btn;
            @extend .btn-link;
            color: $shadyLady;
            font-size: 1em;
            text-decoration: none;
            &:focus,
            &:hover,
            &:active,
            &:visited {
              color: $shadyLady;
              text-decoration: none;
            }
            .user-status {
              color: $jungleGreen;
              padding-right: 5px;
            }
          }
        }
      }
    }
  }
}
