*,
*:before,
*:after {
  box-sizing: border-box;
}

.dashboard-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 250px 1fr;
  aside {
    display: grid;
    grid-template-columns: 250px;
    .main-sidebar {
      background-color: $valentino;
      grid-column: 1;
    }
  }
  main {
    display: grid;
    .main-content {
      display: grid;
      grid-template-rows: auto 1fr auto;
      height: 100vh;
      header {
        grid-column: 1;
        grid-row: 1;
      }
      section {
        grid-column: 1;
        grid-row: 2;
        .messages-container {
          border-bottom: 1px solid $black;
          border-top: 1px solid $black;
          height: 98%;
        }
      }
      footer {
        grid-column: 1;
        grid-row: 3;
      }
    }
  }
}
